%div.home-fluid-thumbnail-grid-narrow
  .row 
    = page_entries_info @listings, model: "Listing"
  .home-fluid-thumbnail-grid.home-listings{style: 'margin: 0 !important'}
    = render partial: "grid_item", collection: @listings, as: :listing, locals: { show_distance: show_distance }
  .home-listings-list
    = render partial: "list_item_with_distance", collection: @listings, as: :listing, locals: { show_distance: show_distance, shape_name_map: shape_name_map}
  .row
    = will_paginate(@listings, inner_window: 1, outer_window: 1, renderer: RemoteLinkPaginationHelper::LinkRenderer, params: {controller: 'homepage', action: 'index'} )
