.avatar {
  border-radius: 50%;
  height: 80%;
}

.link {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.textAvatar {
  width: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Avatar_textColor);
  background-color: var(--Avatar_backgroundColor);
}
.avatarName {
  width: 100%;
  display: block;
  margin-top: -2px;
  font-size: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  color: #DB1414;
  overflow: hidden;

}

