 
//=require landing_page/styles
//=require owl.carousel.min.css
//=require owl.theme.default.min.css


 @font-face {
   /* 'ProximaNovaSoft-Regular' */
   font-family: 'Proxima Nova Soft';
   src: asset-url('proximanovasoft-regular-webfont.eot');
   src: asset-url('proximanovasoft-regular-webfont.eot?#iefix') format('embedded-opentype'),
   asset-url('proximanovasoft-regular-webfont.woff2') format('woff2'),
   asset-url('proximanovasoft-regular-webfont.woff') format('woff'),
   asset-url('proximanovasoft-regular-webfont.ttf') format('truetype'),
   asset-url('proximanovasoft-regular-webfont.svg#proxima_nova_softregular') format('svg');
   font-weight: 400;
   font-style: normal;
 }

 @font-face {
   /* 'ProximaNovaSoft-Medium' */
   font-family: 'Proxima Nova Soft';
   src: asset-url('proximanovasoft-medium-webfont.eot');
   src: asset-url('proximanovasoft-medium-webfont.eot?#iefix') format('embedded-opentype'),
   asset-url('proximanovasoft-medium-webfont.woff2') format('woff2'),
   asset-url('proximanovasoft-medium-webfont.woff') format('woff'),
   asset-url('proximanovasoft-medium-webfont.ttf') format('truetype'),
   asset-url('proximanovasoft-medium-webfont.svg#proxima_nova_softmedium') format('svg');
   font-weight: 500;
   font-style: normal;
 }

 @font-face {
   /* 'ProximaNovaSoft-Semibold' */
   font-family: 'Proxima Nova Soft';
   src: asset-url('proximanovasoft-semibold-webfont.eot');
   src: asset-url('proximanovasoft-semibold-webfont.eot?#iefix') format('embedded-opentype'),
   asset-url('proximanovasoft-semibold-webfont.woff2') format('woff2'),
   asset-url('proximanovasoft-semibold-webfont.woff') format('woff'),
   asset-url('proximanovasoft-semibold-webfont.ttf') format('truetype'),
   asset-url('proximanovasoft-semibold-webfont.svg#proxima_nova_softsemibold') format('svg');
   font-weight: 600;
   font-style: normal;
 }

 @font-face {
   /* 'ProximaNovaSoft-Bold' */
   font-family: 'Proxima Nova Soft';
   src: asset-url('proximanovasoft-bold-webfont.eot');
   src: asset-url('proximanovasoft-bold-webfont.eot?#iefix') format('embedded-opentype'),
   asset-url('proximanovasoft-bold-webfont.woff2') format('woff2'),
   asset-url('proximanovasoft-bold-webfont.woff') format('woff'),
   asset-url('proximanovasoft-bold-webfont.ttf') format('truetype'),
   asset-url('proximanovasoft-bold-webfont.svg#proxima_nova_softbold') format('svg');
   font-weight: 700;
   font-style: normal;
 }


  .hero__section--light {
    background-image: asset-url('ownOutDoors_heroBG2.jpg');
  }

  .hero__search-button,
  .hero__search-button:active,
  .hero__signup-button,
  .hero__signup-button:active
  {
    background-color: rgb(219,20,20);
  }

  .hero__search-button:hover,
  .hero__search-button:focus,
  .hero__signup-button:hover,
  .hero__signup-button:focus {
    background-color: rgb(186,17,17);
  }

      .footer__container--dark .footer__social-media-link > svg {
    fill: #FFFFFF;
  }
  .footer__container--dark .footer__social-media-link:hover > svg {
    fill: #D9D9D9;
  }
  .footer__container--light .footer__social-media-link > svg {
    fill: rgb(219,20,20);
  }
  .footer__container--light .footer__social-media-link:hover > svg {
    fill: rgb(186,17,17);
  }

          .info__info-1-column__2__info__button {
        background-color: rgb(219,20,20);
      }

      .info__info-1-column__2__info__button--ghost {
        color: rgb(219,20,20);
        border-color: rgb(219,20,20);
      }

      .info__info-1-column__2__info__button--inverted {
        color: rgb(219,20,20);
      }

      .info__info-1-column__2__info__button--inverted:hover {
        color: #FFF;
        background-color: rgb(186,17,17);
      }

      .info__info-1-column__2__info__button--ghost:hover,
      .info__info-1-column__2__info__button:hover {
        background-color: rgb(186,17,17);
        border-color: rgb(186,17,17);
      }


      .info__paragraph--markdown a,
      .info__column-paragraph--markdown a {
        color: rgb(219,20,20);
      }

      .info__paragraph--markdown a:hover,
      .info__column-paragraph--markdown a:hover {
        color: rgb(186,17,17);
      }

    
    .categories__categories__1__categories__button--ghost {
      color: rgb(219,20,20);
      border-color: rgb(219,20,20);
    }

    .categories__categories__1__categories__button--ghost:hover {
      background-color: rgb(186,17,17);
      border-color: rgb(186,17,17);
    }

    .categories__categories__1__categories__category-content:hover {
      box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 999999px rgba(219,20,20, 0.9); /* big enough number to cover the whole area */
    }

    .categories__paragraph--markdown a {
      color: rgb(219,20,20);
    }

    .categories__paragraph--markdown a:hover {
      color: rgb(186,17,17);
    }


    
    .listings__listings__3__listings__button--ghost {
      color: rgb(219,20,20);
      border-color: rgb(219,20,20);
    }

    .listings__listings__3__listings__button--ghost:hover {
      background-color: rgb(186,17,17);
      border-color: rgb(186,17,17);
    }

    .listings__listings__3__listings__price-container {
      color: rgb(219,20,20);
    }

    .listings__listings__3__listings__listing-image--empty {
      background-color: rgba(219,20,20, 0.2);
    }

    .listings__listings__3__listings__author-link:hover .listings__author-name {
      color: rgb(219,20,20);
    }

    .listings__paragraph--markdown a {
      color: rgb(219,20,20);
    }

    .listings__paragraph--markdown a:hover {
      color: rgb(186,17,17);
    }

.listings__listing-title {   
    height: 2.5em;
    overflow: hidden;
    text-overflow: ellipsis;
}
.listings__listing-info {
  height: 60px;
}
